@import 'variables.scss';

.btn{
  padding: $padding $padding*2;
  background: $green-bg;
  color: white;
  border-radius: $radius;
  outline: none;
  border: 1px solid $green-bg;
  cursor: pointer;
  transition: .1s;
}

.btn:active{
  background: white;
  color: $green-bg;
}

.categories{
  position: absolute;
  top: 54px;
}
.category{
  padding: $padding $padding*2;
  width: 200px;
  background: white;
  margin-bottom: 2px;
  color: $green-bg;
  border-radius: $radius;
  outline: none;
  border: 1px solid $green-bg;
  cursor: pointer;
  transition: .1s;
}

.category:hover{
  background: $green-bg;
  color: white;
}